#wpadminbar{
    background-color: #1d2327;
}

#wp-admin-bar-top-secondary li#wp-admin-bar-cg_account{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

#wp-admin-bar-top-secondary li#wp-admin-bar-cg_account:hover,#wp-admin-bar-top-secondary li#wp-admin-bar-cg_account.hover{
    background-color: #2c3338;
}

#wp-admin-bar-top-secondary li#wp-admin-bar-cg_account:hover .ab-item,#wp-admin-bar-top-secondary li#wp-admin-bar-cg_account.hover .ab-item{
    color: #f0f0f1;
}


#wp-admin-bar-root-default{
    display: none;
}