body{
    min-height: 100%;
    visibility: hidden;
    padding: 15px 10px 40px;
    margin: 0;
}

body[data-cg-is-logged-in="true"]{
    padding-top: 49px;
}

body .mainCGlanding{
    padding-left: 25px;
    padding-right: 25px;
}

body .mainCGlanding p{
    line-height: 1.3;
}

.mainCGentryNotWinnerMessage{
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
}

#wp-admin-bar-edit{
    display: none !important;
}

.wp-core-ui.wp-ui-notification{/*otherwise will float visibly under header and over the body*/
    display: none !important;
}